 <div class="container">
        <div class="row">
            <div class="col-sm-6 bg-width-media">
                <div class="container-form" style="margin: 70px" >
                    <form>
                        
                            <p align="center" style="font-size: 18px" class="CompanyName"><b>Essilor Shared Service Philippines Inc.</b><br><p class="Address">ALABANG, MUNTINLUPA</p></p>
                        
                        <hr>
                        <h4 class="addNumTitle"><strong>Sign In</strong></h4>
                        <div class="textbox">
                            <div class="form-group">
                                <input type="text" class="form-control" name="uname" id="uname" placeholder=" Enter Username"> 
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" id="password" placeholder=" Enter Password">
                            </div>
                         </div> <!--End of div class textbox-->
                            <div class="row">
                                <div class="col-sm-12">
                                    <strong>
                                        <button type="button" class="signinBtn pull-right" name="signin" id="signin"><p>Submit</p></button>
                                        <button type="reset" class="clearBtn pull-right" name="clear" id="clear"><p>Clear</p></button>  
                                    </strong>
                                </div>
                            </div> <!--End of div class row-->
                       
                    </form>
                </div>
             </div>
    <!--Column 6 Start-->
            <div class="col-sm-6 bg-width-media center-width">
                <h1 class="welcome"> Welcome to ESSPI </h1> <br>
                <h5 class="label1"><span class="col-sm-1"></span>
                Essilor Shared Services Philippines, Inc. is a Global IT and Finance Shared Services organization 
                known as one of the matured shared services hub in the  world.
                </h5>
            </div>
        </div>
    </div>